<ion-header>
  <ion-toolbar color="cignos">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding class="login-page-content">
<ion-row>
  <ion-col text-center>
    <img src="/img/logo.png" alt="logo" />
  </ion-col>
</ion-row>

  <ion-list>
    <ion-item>
      <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="username" type="text" (keypress)="onInputKeypress($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input [(ngModel)]="password" type="password" (keypress)="onInputKeypress($event)"></ion-input>
    </ion-item>

</ion-list>
 <button ion-button full (click)="login()">{{ 'LOGIN' | translate }}</button>
 <button ion-button full (click)="passforgotten()" color="dark">{{ 'PASS_FORGOTTEN' | translate }}</button>
</ion-content>

<my-base-footer></my-base-footer>