<ion-header>
  <ion-toolbar color="cignos">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding class="login-page-content">
<ion-row>
  <ion-col text-center>
    <img src="/img/logo.png" alt="logo" />
  </ion-col>
</ion-row>

  <ion-list>
    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text" (keypress)="onInputKeypress($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" (keypress)="onInputKeypress($event)"></ion-input>
    </ion-item>

</ion-list>
 <button ion-button full (click)="login()">Log in</button>
 <button ion-button full (click)="passforgotten()" color="dark">Password forgotten</button>
</ion-content>

<ion-footer>
  <ion-toolbar color="cignos">
    <ion-title>Cignos V.0.0.1</ion-title>
  </ion-toolbar>
</ion-footer>