<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'MENU' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button color="dark" ion-item (click)="logOut()">
        {{ 'ABOUT' | translate }}
      </button>
      <button color="danger" ion-item (click)="logOut()">
        {{ 'LOG_OUT' | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootyPage"></ion-nav>